.container-changepassword {
  height: 100%;
  width: 100%;
  background: #e0e0e0;
  margin-left: 20px;
  padding-right: 20px;
}
.changepassword-profile {
  font-size: 20px;
  padding-top: 7px;
  padding-left: 38px;
  font-size: 1.75rem;
  font-weight: 500;
}
.form-changepassword {
  background: white;
  margin-left: 21px;
  width: 95%;
  height: 80%;
}
.container-changepassword input {
  width: auto;
}
.form-changepassword .row {
  padding: 12px 13px;
}
.form-changepassword button {
  margin-left: 50px;
  margin-bottom: 23px;
}
.err{
  color: red;
  font-size:13px
}
